[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
  border:4px solid red;
}

body {}

.no-wrap {
  white-space: nowrap;
}

.align-vertical-center-45 {
  height:45px;
  line-height: 45px;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 28px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-30 {
  font-size: 32px !important;
}

.m-t-0 {
  margin-top: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.label-bordered {
  border: 1px solid #777;
  color: inherit;
  font-weight: inherit;
}

.area-div-icon {
  width:100px;
  height:60px;
  left:-50px;
  top:-30px;
  font-size:30px;
  font-weight:bold;
  text-align: center;
  color: black;
  line-height:60px;
  background:none;
  border:none;
  box-shadow:none;
  opacity: 0.6;
}

.zoom-0 .area-div-icon,
.zoom-1 .area-div-icon,
.zoom-2 .area-div-icon,
.zoom-3 .area-div-icon,
.zoom-4 .area-div-icon,
.zoom-5 .area-div-icon,
.zoom-6 .area-div-icon,
.zoom-7 .area-div-icon,
.zoom-8 .area-div-icon,
.zoom-9 .area-div-icon,
.zoom-10 .area-div-icon,
.zoom-11 .area-div-icon,
.zoom-12 .area-div-icon {
  display: none;
}

.zoom-13 .area-div-icon {
  font-size:12px;
}

.zoom-14 .area-div-icon {
  font-size:20px;
}

.zoom-15 .area-div-icon {
  font-size:30px;
}
.zoom-16 .area-div-icon {
  font-size:40px;
}
.zoom-17 .area-div-icon {
  font-size:55px;
  opacity: 0.5;
}
.zoom-18 .area-div-icon {
  font-size:75px;
  opacity: 0.4;
}
.zoom-19 .area-div-icon {
  font-size:100px;
  opacity: 0.3;
}

.embedded-table-first-row {
  border-top: 0 !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.15);
}



