[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
  border:4px solid red;
}

body {
  xpadding-top: 65px;
}

.no-wrap {
  white-space: nowrap;
}

.align-vertical-center-45 {
  height:45px;
  line-height: 45px;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 28px !important;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-30 {
  font-size: 32px !important;
}

.m-t-0 {
  margin-top: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.label-bordered {
  border: 1px solid #777;
  color: inherit;
  font-weight: inherit;
}






