<h1>Address</h1>

<form>

  <div class="form-group">
    <label for="name">House Number</label>
    <div class="row">
      <div class="col-xs-6"><input type="text" class="form-control" id="name" placeholder="enter house number" ng-model="ctrl.model.address.number"></div>
      <div class="col-xs-6"><input type="text" class="form-control" id="suffix" placeholder="enter house number suffix" ng-model="ctrl.model.address.suffix"></div>
    </div>
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <select id="street" name="street" class="form-control" ng-model="ctrl.model.address.street" ng-options="street as street.name for street in ctrl.entities.streets track by street.id"></select>
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <select id="city" name="city" class="form-control" ng-model="ctrl.model.address.city" ng-options="city as city.name for city in ctrl.entities.cities track by city.id"></select>
  </div>

  <div class="form-group">
    <label for="area">Area</label>
    <select multiple size="10" id="area" name="area" class="form-control" ng-model="ctrl.model.address.areas" ng-options="area as (area.city.name + ' ' + area.number + ' ' + area.type) for area in ctrl.entities.areas track by area.id"></select>
  </div>

  <div class="form-group">
    <button ng-if="ctrl.id== 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.create();">Create</button>
    <button ng-if="ctrl.id!= 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.update();">Update</button>
    <button ng-if="ctrl.id!='create'" type="submit" class="btn btn-danger" ng-click="ctrl.delete();">Delete</button>
    <a class="btn btn-link" ng-href="#/admin/addresses">Back to list</a>
  </div>

</form>

