 <h1>Addresses</h1>

  <table class="table">
    <caption>List of Addresses</caption>
    <thead>
    <tr>
      <th class="col-md-1"></th>
      <th>House Number</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="address in ctrl.addresses">
      <th class="col-md-1" scope="row"><a ng-href="#{{address._links.self.href | path}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></th>
      <td>{{address.number}}</td>
      <td>{{address.city.name}}</td>
    </tr>
    </tbody>
  </table>

 <a class="btn btn-default btn-primary" href="#/addresses/create" role="button">Create</a>
