<h1>Address</h1>

<form>

  <div class="form-group">
    <label for="name">House Number</label>
    <input type="text" class="form-control" id="name" placeholder="enter house number" ng-model="ctrl.model.address.number">
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <select id="street" name="street" class="form-control" ng-model="ctrl.model.address.street.id">
      <option ng-repeat="street in ctrl.entities.streets" value="{{street.id}}">{{street.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="area">Area</label>
    <select id="area" name="area" class="form-control" ng-model="ctrl.model.address.area.id">
      <option ng-repeat="area in ctrl.entities.areas" value="{{area.id}}">{{area.number}} - {{area.city.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <button ng-if="ctrl.id== 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.create();">Create</button>
    <button ng-if="ctrl.id!= 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.update();">Update</button>
    <button ng-if="ctrl.id!='create'" type="submit" class="btn btn-danger" ng-click="ctrl.delete();">Delete</button>
    <a ng-href="#/admin/addresses">Back to list</a>
  </div>

</form>

