 <h1>Areas</h1>

 <h2>Overview</h2>
 <div ng-include="'views/map.html'"></div>

 <h2>List</h2>
  <table class="table">
    <caption>List of Areas</caption>
    <thead>
    <tr>
      <th class="col-xs-1"></th>
      <th>Number</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="area in ctrl.areas">
      <th class="col-xs-1" scope="row"><a ng-href="#/admin/areas/{{area.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></th>
      <td>{{area.number}}</td>
      <td>{{area.city.name}}</td>
    </tr>
    </tbody>
  </table>

 <a class="btn btn-default btn-primary" href="#/admin/areas/create" role="button">Create</a>
