
  <h1>Area</h1>

  <form>

    <div class="form-group">
      <label for="name">Map</label>

      <div map id="Editor" mode="edit" shape="ctrl.model.area.shape" style="width:100%; height:800px;"></div>

    </div>

    <div class="form-group">
      <label for="name">Number</label>
      <input type="text" class="form-control" id="name" placeholder="enter area number" ng-model="ctrl.model.area.number">
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select id="type" name="type" class="form-control" ng-model="ctrl.model.area.type" ng-options="type as type.label for type in ctrl.entities.types track by type.key">
        <!--<option ng-repeat="type in ctrl.entities.types" value="{{type}}">{{type}}</option>-->
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select id="city" name="city" class="form-control" ng-model="ctrl.model.area.city.id">
        <option ng-repeat="city in ctrl.entities.cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button ng-if="ctrl.id== 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.create();">Create</button>
      <button ng-if="ctrl.id!= 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.update();">Update</button>
      <button ng-if="ctrl.id!='create'" type="submit" class="btn btn-danger" ng-click="ctrl.delete();">Delete</button>
      <a class="btn btn-link" ng-href="#/admin/areas">Back to list</a>
    </div>

    <table class="table">
      <caption>List of Assignments</caption>
      <thead>
      <tr>
        <th class="col-xs-1"></th>
        <th>Status</th>
        <th>Start Date</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="assignment in ctrl.entities.assignments">
        <th class="col-xs-1" scope="row"><a ng-href="#/admin/assignments/{{assignment.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></th>
        <td><span ng-if="assignment.active" class="label label-warning">active</span><span ng-if="!assignment.active" class="label label-default">closed</span></td>
        <td>{{assignment.creationDate | formatDate}}</td>
      </tr>
      </tbody>
    </table>

    <table class="table">
      <caption>List of Addresses</caption>
      <thead>
      <tr>
        <th class="col-xs-1"></th>
        <th>Number</th>
        <th>Street</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="address in ctrl.entities.addresses">
        <th class="col-xs-1" scope="row"><a ng-href="#/admin{{address._links.self.href | path}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></th>
        <td>{{address.number}}</td>
        <td>{{address.street.name}}</td>
      </tr>
      </tbody>
    </table>

  </form>


