 <h1>Areas</h1>

 <form class="m-b-20">

   <div class="row">
     <div class="col-xs-12 col-sm-6">
       <div class="form-group">
         <label for="type">Type</label>
         <select id="type" name="type" class="form-control" ng-model="ctrl.model.type" ng-options="type as type.name for type in ctrl.types track by type.id"></select>
       </div>
     </div>
   </div>

   <h2>Assignments</h2>

   <div class="row">
     <div class="col-xs-12 col-sm-6">
       <div class="form-group">
         <label for="campaigns">Campaign</label>
         <select id="campaigns" name="campaigns" class="form-control" multiple="multiple" size="5" ng-model="ctrl.model.selectedCampaigns" ng-options="campaign as campaign.name for campaign in ctrl.campaigns track by campaign.id"></select>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="col-xs-12 col-sm-3">
       <fieldset>
         <div class="form-group m-b-0">
           <label for="creationDate">From Start/Close Date</label>
           <input id="creationDate" name="creationDate" class="form-control" ng-model="ctrl.model.creationDate" placeholder="dd-mm-yyyy"></input>
         </div>
       </fieldset>
     </div>
     <div class="col-xs-12">
       <span id="helpBlock" class="help-block">Assignments that were <b>active</b> after or during this date, eg: started <b>or</b> closed after this date.</span>
     </div>
   </div>

   <div class="form-group m-t-10">
     <button type="submit" class="btn btn-primary m-r-5" ng-click="ctrl.getAreas();">Search</button>
     <a class="btn btn-default btn-primary" href="#/admin/areas/create" role="button">Create Area</a>
   </div>
 </form>

 <br/>

 <div map id="Overview" mode="view" shapes="ctrl.shapes" style="width:100%; height:800px;"></div>

  <table class="table">
    <caption>List of Areas</caption>
    <thead>
    <tr>
      <th></th>
      <th>City</th>
      <th>Number</th>
      <th>Type</th>
      <th class="col-xs-9">Assignments</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="area in ctrl.areas">
      <td scope="row"><a ng-href="#/admin/areas/{{area.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></td>
      <td><nobr>{{area.city.name}}</nobr></td>
      <td>{{area.number}}</td>
      <td>{{area.type | displayAreaType}}</td>
      <td class="p-b-0 p-r-0">

        <table class="table m-b-0">
          <tbody>
          <tr ng-repeat="assignment in area.assignments">
            <td style="padding-left:0" class="col-xs-1"  ng-class="{'embedded-table-first-row' : $index === 0}"><nobr><a ng-href="#/admin/assignments/{{assignment.id}}"><span class="glyphicon glyphicon-chevron-right p-r-10" aria-hidden="true"></span></a>
            <span style="display:inline-block;width:50px;"  ng-if="assignment.active" class="label label-warning">active</span><span style="display:inline-block;width:50px;" ng-if="!assignment.active" class="label label-default">closed</span></nobr></td>
            <td class="col-xs-2" ng-class="{'embedded-table-first-row' : $index === 0}">{{assignment.campaign.name}}</td>
            <td class="col-xs-3" ng-class="{'embedded-table-first-row' : $index === 0}">{{assignment.account.firstName}} {{assignment.account.infix}} {{assignment.account.lastName}}</td>
            <td class="col-xs-3" ng-class="{'embedded-table-first-row' : $index === 0}"><span>{{assignment.creationDate | formatShortDate}}</span><span class="p-l-5 p-r-5">|</span><span ng-class="{'bold': !assignment.closeDate}">{{assignment.creationDate | daysFromNow}}</span></td>
            <td class="col-xs-3" ng-class="{'embedded-table-first-row' : $index === 0}"><span>{{assignment.closeDate  | formatShortDate}}</span><span class="p-l-5 p-r-5" ng-if="assignment.closeDate">|</span><span>{{assignment.closeDate | daysFromNow}}</span></td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>
    </tbody>
  </table>

 <p class="text-center m-b-20"><button type="submit" class="btn btn-primary" ng-click="ctrl.toggleSimpleView();">Toggle Simple View</button></p>

 <table class="table" ng-if="ctrl.showSimpleView">
   <caption>Gebieden en hun bewerking vanaf: {{ctrl.model.creationDate}}</caption>
   <thead>
   <tr>
     <th>Gebied</th>
     <th>Toewijzingen</th>
   </tr>
   </thead>
   <tbody>
   <tr ng-repeat="area in ctrl.areas">
     <td>{{area.city.name}} {{area.number}} {{area.type | displayAreaType}}</td>
     <td>
       <table>
         <tbody>
         <tr ng-repeat="assignment in area.assignments">
           <td>{{assignment.campaign.name}}</td>
           <td>{{assignment.account.firstName}} {{assignment.account.infix}} {{assignment.account.lastName}}</td>
           <td>{{assignment.creationDate | formatShortDate}}</td>
           <td>{{assignment.closeDate  | formatShortDate}}</td>
         </tr>
         </tbody>
       </table>
     </td>
   </tr>
   </tbody>
 </table>




