
  <h1>Assignment</h1>

  <form>

    <div class="form-group">
      <label for="active1">Status</label>
      <div>
        <label class="radio-inline" for="active1"><input type="radio" ng-model="ctrl.model.assignment.active" name="active" id="active1" ng-value="true">Active</label>
        <label class="radio-inline" for="active2"><input type="radio" ng-model="ctrl.model.assignment.active" name="active" id="active2" ng-value="false">Closed</label>
      </div>
    </div>

    <div class="form-group">
      <label for="personal1">Visibility</label>
      <div>
        <label class="radio-inline" for="personal1"><input type="radio" ng-model="ctrl.model.assignment.personal" name="personal" id="personal1" ng-value="true">Private</label>
        <label class="radio-inline" for="personal2"><input type="radio" ng-model="ctrl.model.assignment.personal" name="personal" id="personal2" ng-value="false">Public</label>
      </div>
    </div>

    <div class="form-group">
      <label for="area"><a ng-href="#/admin/areas/{{ctrl.model.assignment.area.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> Area</label>
      <select id="area" name="area" class="form-control" ng-model="ctrl.model.assignment.area.id">
        <option ng-repeat="area in ctrl.entities.areas" value="{{area.id}}">{{area.number}} - {{area.city.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="personal1">Creation Date</label>
      <p class="form-control-static">{{ctrl.model.assignment.creationDate | formatDate}}</p>
    </div>

    <div class="form-group" ng-if="ctrl.model.assignment.worksheet">
      <label><a ng-href="#/worksheets/{{ctrl.model.assignment.worksheet.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> Worksheet</label>
      <span style="margin-left: 5px"><span ng-if="ctrl.model.assignment.worksheet.active" class="label label-warning">active</span><span ng-if="!ctrl.model.assignment.worksheet.active" class="label label-default">closed</span> <span class="badge">{{ctrl.model.assignment.worksheet.iteration}}</span></span>
    </div>

    <div class="form-group">
      <button ng-if="ctrl.id== 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.create();">Create</button>
      <button ng-if="ctrl.id!= 'create'" type="submit" class="btn btn-primary" ng-click="ctrl.update();">Update</button>
      <button ng-if="ctrl.id!='create'" type="submit" class="btn btn-danger" ng-click="ctrl.delete();">Delete</button>
      <button ng-if="!ctrl.model.assignment.worksheet" type="submit" class="btn btn-default" ng-click="ctrl.createWorksheet();">Create Worksheet</button>
      <a class="btn btn-link" ng-href="#/admin/assignments">Back to list</a>
    </div>

  </form>


