 <h1>Cities</h1>

  <table class="table">
    <caption>List of Cities</caption>
    <thead>
    <tr>
      <th class="col-md-1"></th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="city in ctrl.cities">
      <th class="col-xs-1" scope="row"><a ng-href="#/admin/cities/{{city.id}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></th>
      <td>{{city.name}}</td>
    </tr>
    </tbody>
  </table>

 <a class="btn btn-default btn-primary" href="#/admin/cities/create" role="button">Create</a>
