
  <h1>Gebied #{{ctrl.model.report.area.number}} {{ctrl.model.sheets[0].addresses[0].city.name}}</h1>

  Voor de {{ctrl.model.report.iteration}}e keer aan het bewerken.

  <form>

    <uib-accordion close-others="oneAtATime">
      <uib-accordion-group ng-repeat="sheet in ctrl.model.sheets" is-open="true">

        <uib-accordion-heading>
          {{sheet.name}} <span class="badge">4</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>

          <div class="row" style="margin-bottom:20px" ng-repeat="address in sheet.addresses">

            <div class="col-xs-3 center-block text-center">
              <h4>{{address.number}}</h4>
            </div>

            <div class="col-xs-9">
              <div ng-show="!ctrl.isVisitEnabled(address) && ctrl.isVisitSuccess(address)">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openMenu(this);"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
                  </div>
                </div>
              </div>

              <div ng-show="!ctrl.isVisitEnabled(address) && !ctrl.isVisitSuccess(address)">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openMenu(this);"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                  </div>
                </div>
              </div>


              <div ng-show="ctrl.isVisitEnabled(address)">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-success" ng-click="ctrl.createVisit(address, true);"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
                  </div>
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-info" ng-click="ctrl.createVisit(address, false);"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                  </div>
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default" ng-click="ctrl.openMenu(this);"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-xs-12" style="margin-top: 10px" ng-show="this.isMenuOpen">
              <!--<div class="panel panel-default">-->
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="visit in address.visits">

                  <span ng-if="visit.success" class="label label-success">aanwezig</span>
                  <span ng-if="!visit.success" class="label label-info">afwezig</span>
                  {{visit.creationDate}}
                  <span class="badge">{{visit.iteration}}</span>
                </li>
              </ul>
                <!--</div>-->

            </div>
          </div>

      </uib-accordion-group>
    </uib-accordion>

  </form>


